* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #212529;
    text-align: center;
}

h1 {
    font-family: 'Poppins',serif;
    font-size: 59px;
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
}

p {
    color: #d2d2d2;
}

p,
input,
textarea,
label {
    font-family: 'Poppins',
        sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,
textarea,
label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #828282;
}

input,
textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #828282;
}




input,
textarea {
    color: white;
    font-size: 1rem;
    padding: 10px;
}

input[type=submit] {
    font-family: 'Poppins';
    font-size: 1.7rem;
    font-weight: bolder;
    display:block;
    border-bottom: none;
    margin-top: 30px;
    background: #FFB742;
    width:30%;
    padding: 15px 0;
    color: #212529;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    transition: all .3s ease;
}

input[type=submit]:hover {
    background: #ffffff;
    color: #1b1c1e;
}

input:focus,
textarea:focus {
    outline: 1px solid #828282;
}

a {
    color: #828282;
    font-style: italic;
}

a:hover {
    color: #fff;
}


  /* This is the style of my error messages */
.error {
    font-family: 'Poppins',
    sans-serif;
    width: 100%;
    padding: 0;
    font-size: 100%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    display:none;
}
  
.error.active {
    padding: 0.3em;
    display:block;
}

input.invalid,
textarea.invalid {
    border-color: #900;
    background-color: #fdd;
}
  
input:focus.invalid {
    outline: none;
}
  