@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --yellow: #FFB742;
    --black:#212529;
}

html {
    font-size: 16px;
}

body {
    background: var(--black);
}

.active {
    background-color: #aa6504;
    color: black;
}

.list {
    box-sizing: content-box;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items:center;
    width: 50%;
    text-transform: capitalize;
}

.list li {
    display:block;
    padding: 1em;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--white);
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
}

.list a {
    color: var(--white);
    text-decoration: none;
}


.list li:hover {
    background-color:var(--yellow);
}

.list a:hover li {
    color:var(--black);
}

.button {
    display:block;
    position: relative;
    box-sizing: border-box;
    background: var(--yellow);
    color:var(--black);
    text-align: center;
    border-radius: 100px;
    border:none;
    cursor: pointer;
    padding: 1.2rem;
    margin:auto;
    transition: all .3s ease;
} 

.button:hover {
    background-color: var(--white);
}

header .navbar {
  background: var(--black);
  display: flex;
  justify-content:space-between;
  padding: 1em 2em;
}

header .navbar .submit{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color:var(--black);
}

header .navbar .list{
    margin: 0 auto;
    width:fit-content;
}

header .navbar .hamburger {
    display: none;
}

header .navbar .navButtons {
  display:flex;
  justify-content: space-between;
}

header .navbar .hamburger:hover {
    background-color:var(--white);
}

header .navbar .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

main {
    background: var(--black);
    padding:2em;
}

section {
    margin-bottom:12em;
    padding-top:6em;
}

section a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color:var(--black);
}

section div>div{
    margin:1rem 0;
}

section .text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2em;
    color: #D5D5D5;
    padding: 2em 0em;
}

section .heading{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3em;
    text-transform: capitalize;
    color: var(--white);
}

section .btn {
    display:block;
    position: relative;
    box-sizing:border-box;
    max-height: min-content;
    max-width:fit-content;
    font-family: 'Poppins';
    color:var(--yellow);
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-radius: 100px;
    cursor: pointer;
    padding: 0.5em 1.5em;
    border:none;
    background: rgba(255, 255, 255, 0.08);
}

section .me {
    height: auto;
    display:flex;
    align-items:flex-start;
    flex-direction: column;
    column-gap: 4em;
    flex: 1;
}

section:nth-of-type(1) {
    padding-top:0;
}

section:nth-of-type(1) .svitlana {
    color: var(--yellow);
}

section:nth-of-type(1) .about {
    text-align: center;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 400;
}

section:nth-of-type(1) p {
    margin:3rem 0;
}

section:nth-of-type(1) p:nth-of-type(2) {
    font-size: 3rem;
    text-transform: capitalize;
}

section:nth-of-type(1) .waving-hand {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
  
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    15% { transform: rotate(14.0deg) }  
    30% { transform: rotate(-8.0deg) }
    40% { transform: rotate(14.0deg) }
    50% { transform: rotate(-4.0deg) }
    60% { transform: rotate(10.0deg) }
    70% { transform: rotate( 0.0deg) }
   100% { transform: rotate( 0.0deg) }
} 

@-webkit-keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    15% { transform: rotate(14.0deg) }  
    30% { transform: rotate(-8.0deg) }
    40% { transform: rotate(14.0deg) }
    50% { transform: rotate(-4.0deg) }
    60% { transform: rotate(10.0deg) }
    70% { transform: rotate( 0.0deg) }
   100% { transform: rotate( 0.0deg) }
} 

@-moz-keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    15% { transform: rotate(14.0deg) }  
    30% { transform: rotate(-8.0deg) }
    40% { transform: rotate(14.0deg) }
    50% { transform: rotate(-4.0deg) }
    60% { transform: rotate(10.0deg) }
    70% { transform: rotate( 0.0deg) }
   100% { transform: rotate( 0.0deg) }
} 

section:nth-of-type(1) .image {
    width:fit-content;
    margin:2rem auto;
    border: none;
    padding: 1em 0em; 
    transition: all .3s ease;
    -moz-animation: 6s ease 0s normal forwards 1 anim;;
    -webkit-animation: 6s ease 0s normal forwards 1 anim;
    animation: 6s ease 0s normal forwards 1 anim;
}

section:nth-of-type(1) .image img {
    transition: 2s all .3s ease;
}

section:nth-of-type(1) .bio {
    -moz-animation: 1s ease 0s normal forwards 1 fadein;
    -webkit-animation: 1s ease 0s normal forwards 1 fadein;
    animation: 1s ease 0s normal forwards 1 fadein;
}

section:nth-of-type(1) .bio1 {
    -moz-animation: 2s ease 0s normal forwards 1 fadein;
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    animation: 2s ease 0s normal forwards 1 fadein;
}

section:nth-of-type(1) .bio2 {
    -moz-animation: 3s ease 0s normal forwards 1 fadein;
    -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
}

section:nth-of-type(1) img:hover{
    transform: rotateY(360deg);
}

@keyframes fadein {
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein {
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@keyframes anim {
    from {
        transform:rotateY(0deg);
        opacity:0; 
    }

    66% {
        opacity:0.5; 
    }
    100% {
        transform: rotateY(360deg);
        opacity:1;
    }
}

@-moz-keyframes anim {
    from {
        transform:rotateY(0deg);
        opacity:0; 
    }

    66% {
        opacity:0; 
    }
    100% {
        transform: rotateY(360deg);
        opacity:1;
    }
}

@-webkit-keyframes anim {
    from {
        transform:rotateY(0deg);
        opacity:0; 
    }

    66% {
        opacity:0; 
    }
    100% {
        transform: rotateY(360deg);
        opacity:1;
    }
}

section:nth-of-type(2) {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap:wrap; 
}

section:nth-of-type(2) div,  
section:nth-of-type(3) div,
section:nth-of-type(3) ul {
    margin-left:5%;
}

section:nth-of-type(3) {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap:wrap;
}

section:nth-of-type(3) ul {
    display:flex;
    flex-direction: row;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding-bottom: 3em;
}

section:nth-of-type(3) ul>li {
    list-style: none;
    background: #383E45;
    margin:1em;
    padding:1em;
    border-radius: 10px;
}

section:nth-of-type(3) ul>li:hover {
    background:#FFB74280;
}

section:nth-of-type(3) ul>li::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url('../img/logos.png');
    background-position: 50%;
    
}

section:nth-of-type(3) ul>li:nth-child(1)::before {
    background-position: -25px -3px;  
}

section:nth-of-type(3) ul>li:nth-child(2)::before {
    background-position: -100px -5px;
}

section:nth-of-type(3) ul>li:nth-child(3)::before {
    background-position: -205px -8px;
}

section:nth-of-type(3) ul>li:nth-child(4)::before {
    background-position: -300px -7px;
}

section:nth-of-type(3) ul>li:nth-child(5)::before {
    background-position: -389px -9px;
}

section:nth-of-type(3) ul>li:nth-child(6)::before {
    background-position: -14px -87px;
}

section:nth-of-type(3) ul>li:nth-child(7)::before {
    background-position: -470px -94px;
}

section:nth-of-type(4) {
    margin-bottom: 10em;
}

section:nth-of-type(4) .works, 
section:nth-of-type(4) .list  {
    margin: 0 auto;
    width:fit-content;
}

section:nth-of-type(4) .btn {
    margin: 0 auto;
}

section:nth-of-type(4) .list li:hover {
    background-color:var(--yellow);
}
section:nth-of-type(4) .list div:hover li{
    color:var(--black);
}

section:nth-of-type(4) .screenshot {
  display:flex;
  box-sizing: border-box;
  flex-direction:row;
  justify-content: center;
  height:fit-content;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2em;
}

section:nth-of-type(4) .screenshot div {
  margin: 1em;
}

section:nth-of-type(4) .screenshot img {
    transition: all 1s ease-out;
    cursor: pointer;
}

section:nth-of-type(4) .screenshot img:hover {
    transform: scale(1.5);
}

section:nth-of-type(4) .tabcontent{
    display:none;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Work Sans';
    padding: 4em 1em;
    background-color: #1C1C1C;
}

footer .name {
    text-align: left;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 400;
    padding:1em 0;
}


footer .designer {
    font-weight: 600;
    font-size: 16px;
    color: #D4D4D4;
}
  
footer .f1 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-left: 1em;
    padding: 1em;
}

footer h3 {
    display: block;
    font-weight: 700;
    font-size: 22px;
    color: #F5FBF2;
    text-align: left;
    padding-bottom: 1em;
}

footer ul li {
    display: block;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    color: #7B7B7B;
    text-align: left;
    position:relative;
    left:0em;
    padding-bottom:1em;
}

footer ul>li a{
    text-decoration: none;
    color: #7B7B7B;
}

footer li a:hover {
    color: var(--yellow); 
}

.loading {
    opacity: 0;
    transform: translateY(2rem);
    transition: transform 0.6s, opacity 0.9s;
}

.loaded {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s;
}

@media screen and (min-width:0px) and (max-width: 1023px) {
    /*main{
        padding:1em;
    }
*/
    header .navbar .nav-menu {
        position: fixed;
        z-index: 100;
        right: -100%;
        top: 6rem;
        flex-direction: column;
        background-color:var(--black);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    header .navbar .nav-menu.active {
        right: 0;
    }

    header .navbar .nav-menu .nav-item {
        margin: 2.5rem 0;
    }

    header .navbar .hamburger {
        display: block;
        cursor: pointer;
        box-sizing: border-box;
        background-color:var(--yellow);
        border-radius: 30%;
        text-align: center;
        border:none;
        cursor: pointer;
        padding: 1.2rem;
        margin-right: 2rem;
        transition: all .3s ease;
    }

    header .navbar .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    header .navbar .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    header .navbar .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    section:nth-of-type(2) img {
        width:100%;
        height:100%;
    }

    section{
        height:100%;
        /*height:fit-content;*/
       /* margin-bottom: 10rem;*/
       margin-bottom: 20rem;
        text-align: center;
    }
    section:nth-of-type(2) .heading,
    section:nth-of-type(3) .heading{
        margin:0 auto;
    }

    section:nth-of-type(2) .btn,
    section:nth-of-type(3) .btn{
        margin:1em auto;
    }
    
    section:nth-of-type(2) .butn,
    section:nth-of-type(3) .butn{
        margin:0 auto;
    }
    
    section:nth-of-type(4) .screenshot img:hover{
        transform:none;
    }
   /* section:nth-of-type(4) .screenshot img:hover {
        transform:none;
        opacity: 1;}*/
    footer .name, 
    footer h3 {
        font-size: 1.2rem;
    }
}

@media screen and (min-width:1024px) and (max-width: 1200px){
    section:nth-of-type(2) {
        flex-direction:column;
    }

    section{
        height:100%;
        margin-bottom: 10rem;
        text-align: center;
    }

    section:nth-of-type(2) .heading,
    section:nth-of-type(3) .heading{
        margin:0 auto;
    }

    section:nth-of-type(2) .btn,
    section:nth-of-type(3) .btn{
        margin:1em auto;
    }
    
    section:nth-of-type(2) .butn,
    section:nth-of-type(3) .butn{
        margin:0 auto;
    }

}


