@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Volkhov&display=swap');


html {
    font-size: 16px;
    font-family: 'Rosario', sans-serif;
    margin: 0;
}


:root{
    --white: #f9f9f9;
    --black: #0e0e10;
    --gray: #85888C;
}

body {
    margin:0;
    padding:0;
}

section {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sticky{
    position: sticky;
    top:0;
    background: var(--black);
    overflow: hidden;
    font-style: italic;
    width: 100%;
    z-index: 2;
}

.sticky img {
    display: inline-block;
    background: var(--white);
}

.sticky .nav {
    display: block;
    width: 100%;
    max-height: 0vh;
    background-color: var(--black);
    overflow: hidden;
    transition: max-height .5s ease-out;
}

.sticky .menu a{
    display: block;
    padding: 1.5em;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    list-style: none;
} 

.sticky .menu a:hover{
    background-color: var(--gray);
}

.sticky .hamburger{
    cursor: pointer;
    float: right;
    padding:  2rem;
}

.sticky .hamburger-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
} 

.sticky .hamburger-line::before,
.sticky .hamburger-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.sticky .hamburger-line::before{
    top: 5px;
}
.sticky .hamburger-line::after{
    top: -5px;
}

.sticky .side-menu {
    display: none;
} 

.sticky .side-menu:checked ~ .nav { 
    max-height: 100vh;
}

.sticky .side-menu:checked ~ .hamburger .hamburger-line {
    background: transparent;
}

.sticky .side-menu:checked ~ .hamburger .hamburger-line::before {
    transform: rotate(-45deg);
    top:0;
}

.sticky .side-menu:checked ~ .hamburger .hamburger-line::after {
    transform: rotate(45deg);
    top:0;
}

.client-block {
    display:flex;
    flex-flow:row nowrap;
    justify-items: stretch;
    justify-content: space-around;
    padding:0;
    margin: 0;
    z-index: 1;
    gap: 0.5vw;
    width:100%;
    max-width: fit-content;
}

.client-block img{
    max-width: 100%;
}

.client-block .boy {
    margin: auto 0;
}

.client-block .man-in-hat, 
.client-block .man-smiles {
    margin-bottom: 0.5vw;
}

.client-block .man-in-hat, 
.client-block .guy {
    transform: translateX(-2vw);
    transition: all 1s linear;
    opacity:0;
}

#gallery:hover .man-in-hat,
#gallery:hover .guy {
    transform: translateX(0vw);
    opacity:1; 
}

.client-block .man-beard-cut, 
.client-block .man-smiles {
    transform: translateX(2vw);
    transition: all 1s linear;
    opacity:0;
}

#gallery:hover .man-beard-cut,
#gallery:hover .man-smiles {
    transform: translateX(0vw);
    opacity:1;   
}

.client-block .boy.one{
    opacity:0;
    transition:all 1s linear;
    transition-delay: 1s;
    transform: translateX(-2vw);
}

#gallery:hover .boy.one {
    opacity:1;
    transform: translateX(0vw);
}

.client-block .boy.two{
    opacity:0;
    transition:all 1s linear;
    transition-delay: 1s;
    transform: translateX(2vw);
}

#gallery:hover .boy.two {
    opacity:1;
    transform: translateX(0vw);   
}

.client-block .break {
    display:none;

}

#services {
   margin-bottom: 0;
}

.service-block {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    align-content:center;
    box-sizing: border-box;
    gap: 6em;
    margin-bottom: 0;
}

.service-block .scissors {
    max-width: 100%;
    margin-top: 0;
    overflow: hidden;
    margin-left: 4em;
}

.services {
    display:flex;
    flex-direction:column;
    justify-content: center;
    justify-items: center;
    flex-wrap:nowrap;
    margin:0;
    padding:0;
    width:50%;
    max-height: min-content;
    animation: clockwise 20s linear 4s infinite normal none;   
    -moz-animation: clockwise 20s linear 4s infinite normal none;
    -webkit-animation: clockwise 20s linear 4s infinite normal none;   
}

.services div {
    margin:0;
    padding-left:4em;   
}

.services div img {
    margin:0;
    padding:0;
}

.services p {
    font-style: italic;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    color: #000000;
    padding:0;
    margin: 0;   
}

.service-block .row {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: center;
    justify-items: center;
    max-height: min-content;  
}

@keyframes clockwise {
    from {
    transform: rotate(0deg);
    } to 
    { transform: rotate(360deg);
    }   
}

@-moz-keyframes clockwise {
    from {
    transform: rotate(0deg);
    } to 
    { 
    transform: rotate(360deg);
    }   
}

@-webkit-keyframes clockwise {
    from {
    transform: rotate(0deg);
    } to 
    { 
    transform: rotate(360deg);
    }   
}   

.services .styling,
.services .trimming,
.services .shave,
.services .straightening {
    animation-name: clockwise1, rot;
    -moz-animation-name: clockwise1, rot;
    -webkit-animation-name: clockwise1, rot;
    animation-duration: 15s, 20s;
    -webkit-animation-duration: 15s, 20s;
    -moz-animation-duration: 15s, 20s;
    animation-timing-function: ease, linear;
    -webkit-animation-timing-function: ease, linear;
    -moz-animation-timing-function:ease, linear;
    animation-delay:2s, 4s;
    -webkit-animation-delay:2s, 4s;
    -moz-animation-delay:2s, 4s;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    animation-fill-mode: none;  
    -webkit-animation-fill-mode: none;  
    -moz-animation-fill-mode: none;  
}

@keyframes rot {
    from {
    transform: rotate(0deg);
    } to 
    { transform: rotate(-360deg);
    }   
}

@keyframes clockwise1 {
    from,
    to {    
    order:1; 
    }

    25% {
    order:2;        
    }
    
    50% {      
    order:3;       
    }

    75% {      
    order:4;
    }
}

@keyframes clockwise2 {
    from,
    to {       
    order:2; 
    }
    
    25% {
    order:3;
    }
  
    50% {
    order:4;
    }

    75% {
    order:1;
    }
}

@keyframes clockwise3 {
    from,
    to {          
    order:3; 
    }
  
    25% {
    order:4;
    }
  
    50% {
    order:1;
    }
  
    75% {
    order:2;
    }
}

@keyframes clockwise4 {
    from,
    to {          
    order:4; 
    }

    25% {
    order:1;
    }
  
    50% {
    order:2;
    }
  
    75% {
    order:3;
    }
}

@-moz-keyframes rot {
    from {
    transform: rotate(0deg);
    } to 
    { transform: rotate(-360deg);
    }   
}
        
@-moz-keyframes clockwise1 {
    from,
    to {                 
    order:1; 
    }
        
    25% {
    order:2;               
    }
        
    50% {                 
    order:3;              
    }
        
    75% {                   
    order:4;                  
    }
}
        
@-moz-keyframes clockwise2 {
    from,
    to {           
    order:2; 
    }
          
    25% {
    order:3;
    }
          
    50% {
    order:4;
    }
          
    75% {
    order:1;
    }        
}
        
@-moz-keyframes clockwise3 {
    from,
    to {
                          
    order:3; 
    }
          
    25% {
    order:4;
    }
          
    50% {
    order:1;
    }
          
    75% {
        order:2;
    }     
}

@-moz-keyframes clockwise4 {
    from,
    to {                     
    order:4; 
    }
          
    25% {
    order:1;
    }
          
    50% {
    order:2;
    }
          
    75% {
    order:3;
    }   
}

@-webkit-keyframes rot {
    from {
    transform: rotate(0deg);
    } to 
    { transform: rotate(-360deg);
    }   
}
        
        
@-webkit-keyframes clockwise1 {
    from,
    to {                 
    order:1; 
    }
        
    25% {
    order:2;               
    }
        
    50% {                 
    order:3;              
    }
        
    75% {                   
    order:4;                  
    }
}
        
@-webkit-keyframes clockwise2 {
    from,
    to {           
    order:2; 
    }
          
    25% {
    order:3;
    }
          
    50% {
    order:4;
    }
          
    75% {
    order:1;
    }        
}
        
@-webkit-keyframes clockwise3 {
    from,
    to {
                          
    order:3; 
    }
          
    25% {
    order:4;
    }
          
    50% {
    order:1;
    }
          
    75% {
        order:2;
    }     
}

@-webkit-keyframes clockwise4 {
    from,
    to {                     
    order:4; 
    }
          
    25% {
    order:1;
    }
          
    50% {
    order:2;
    }
          
    75% {
    order:3;
    }   
}

#team h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin:1.5rem 0;
    width:100%;
}

.staff-block {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:nowrap;
    margin-bottom: 0;
    box-sizing: content-box;
    padding-bottom: 1rem;
    gap:0.5%;
    width:100%;
}

.staff-block:hover .card {
    opacity: .5;
    z-index: 1;
}

.staff-block .card:hover {
    opacity: 1;
}

.staff-block .card {
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    height: 677px;
}

.staff-block .card.meredith {
    background-image: url('../img/Rectangle 8.png');
    width: 404px;
}

.staff-block .card.jason {
    background-image: url('../img/Rectangle 12.png');
    width: 392px;  
}

.staff-block .card.ryan {
    background-image: url('../img/Rectangle 13.png');
    width: 400px;
}

.staff-block .card.james {
    background-image: url('../img/Rectangle 9.png');
    width: 396px;
}

.staff-block .card:hover::after{
    content:'';
    background: rgba(163, 83, 10, 0.7);
    color: #FFFAFA;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 48px;
    padding-top: 9%;
    padding-bottom: 9%;
    text-align: center;
    max-width: 100%;
    display: inline-block;
    z-index: 2;
    width: 100%;
    position: relative;
    top:80%;
    border-radius: 0 0 40px 40px;
}

.staff-block .card.meredith:hover::after{
    content:'Meredith';
}

.staff-block .card.jason:hover::after{
    content:'Jason';
    padding-top: 9.5%;
    padding-bottom: 9.5%;
}

.staff-block .card.ryan:hover::after{
    content:'Ryan';
}

.staff-block .card.james:hover::after{
    content:'James';
    padding-top: 9.2%;
    padding-bottom: 9.2%;
}

.staff-block .break {
    display:none;
}

.contact-block {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    padding:1rem 9rem 0 9rem;
}

.contact-block .message h2 {
    font-size: 4rem;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    margin: 0 0 1rem 0;
    padding:0;
    max-width:700px;
}

.contact-block .message {
    width:50%;
    box-sizing: border-box;
}

.contact-block .message .form {
    display:flex;
    gap: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #E5E5E5;
    box-sizing: border-box;
    width:fit-content;
    height: 37em;
    padding: 2em;
    margin-right:2em;
    max-width:700px;
    height:auto;
    font-size: 80%;
}

.contact-block .message .form input[type="text"], 
.contact-block .message .form input[type="email"] {
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2.25em;
    font-weight: 400;
    text-align: left;
    margin:0em;
    border: none;   
}

.contact-block .message .form  input[type="text"]:not(#one){
    padding:0em 0em 30% 0.3em;
    width:100%;
}

.contact-block .message .form  input[type="text"]:not(#three),
.contact-block .message .form input[type="email"] {
   width:calc(100%/2 - 0.5em);
   box-sizing: border-box;
   padding:0.3em;
}

.contact-block .map {
    padding:0;
    margin-top:5em;
}

.contact-block .footer {
    display:flex;
    flex-flow: row wrap;
    font-style: italic;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    flex-grow: 2;
    margin: 2rem 0 0 0;
    padding: 0;
}

.contact-block .footer p, 
.contact-block .footer ul, 
.contact-block .footer h5 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.contact-block .footer ul {
    list-style: none;
    text-align: center;
}

.contact-block .footer span, 
.contact-block .footer h5 {
    font-style:normal;
    font-weight: 700;
    text-align: center;
}

.contact-block .footer a {
    text-decoration: none;
    color:black;
}

.contact-block .footer h5 {
    margin: 0 0 2rem  0;
}

@media screen and (min-width:0px) and (max-width: 768px) {

    #gallery {
        font-size: 1em;
        height:100%;
    }

    .sticky img {
       margin: 0;
       width:100%;
       max-width: 35vw; 
    }

    .sticky .menu .nav {
        margin: 0 auto;
    }

    .client-block {
        display:flex;
        flex-flow:column wrap;
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap:2em;
        max-width: fit-content; 
        overflow: hidden;
        margin: 0 auto;
        padding: 10vw; 
    }

    .client-block .boy {
        margin: 0;
    }

    .client-block .boy.one{
        opacity:0;
        transition:all 1s linear;
        transition-delay: 0s;
        transform: translateX(-5vw); 
    }
    
    #gallery:hover .boy.one {
        opacity:1;
        transform: translateX(0vw);
    }

    .client-block .man-in-hat {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 0.8s;
        transform: translateX(5vw);   
    }

    #gallery:hover .man-in-hat {
        opacity:1;
        transform: translateX(0vw);     
    }

    .client-block .guy {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 1.6s;
        transform: translateX(-5vw); 
    }

    #gallery:hover .guy {
        opacity:1;
        transform: translateX(0vw);  
    }
    .client-block .man-smiles {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 2.4s;
        transform: translateX(5vw);
    }

    #gallery:hover .man-smiles {
        opacity:1;
        transform: translateX(0vw);    
    }
    
    .client-block .man-beard-cut {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 3.2s;
        transform: translateX(-5vw);    
    }

    #gallery:hover .man-beard-cut {
        opacity:1;
        transform: translateX(0vw);     
    }

    .client-block .boy.two{
        opacity:0;
        transition:all 1s linear;
        transition-delay: 4s;
        transform: translateX(5vw);
    }
    
    #gallery:hover .boy.two {
        opacity:1;
        transform: translateX(0vw);
    }

    #services { 
        height:max-content;
        margin:0;
        padding:0;
    }

    .service-block {
        margin: 0;
        padding:0;
        display:block;
    }

    .service-block .scissors {
        display: none;
    }

    .services {
        animation: none;
        margin:3em 0 0 0;
        padding:0;
        width:100%;
    }

    .services .row {
        padding:0;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content: center;
        justify-items: center;
    }
    
    .services div {
        margin:0 auto;
        padding-left:0;
    }
    .services p {
        font-size: 2.5rem;
    }

    .services  img{
        max-width: 300px;
        width: 100%;
        height: auto; 
    }

    #services:hover .services .row .styling {
        -moz-animation: 2s ease 0s normal forwards 1 anim;;
        -webkit-animation: 2s ease 0s normal forwards 1 anim;
        animation: 2s ease 0s normal forwards 1 anim;
    }

    #services:hover .services .row .trimming {
        -moz-animation: 2s ease 2s normal forwards 1 anim;;
        -webkit-animation: 2s ease 2s normal forwards 1 anim;
        animation: 2s ease 2s normal forwards 1 anim;
    }

    #services:hover .services .row .shave {
        -moz-animation: 2s ease 4s normal forwards 1 anim;;
        -webkit-animation: 2s ease 4s normal forwards 1 anim;
        animation: 2s ease 4s normal forwards 1 anim;
    }

  
    #services:hover .services .row .straightening {
        -moz-animation: 2s ease 6s normal forwards 1 anim;;
        -webkit-animation: 2s ease 6s normal forwards 1 anim;
        animation: 2s ease 6s normal forwards 1 anim;
    }

    .services .row .styling,
    .services .row .trimming,
    .services .row .shave,
    .services .row .straightening {
       animation:none;
        margin: 3em 0;
    }
    .services .row div:hover>img{
        -moz-animation: 2s ease 0s normal forwards 1 anim;;
        -webkit-animation: 2s ease 0s normal forwards 1 anim;
        animation: 2s ease 0s normal forwards 1 anim;
    }


    @keyframes anim {
        from {
            transform:rotateY(0deg);
            opacity:0; 
        }
    
        66% {
            opacity:0.5; 
        }
        100% {
            transform: rotateY(360deg);
            opacity:1;
        }
    }
    
    @-moz-keyframes anim {
        from {
            transform:rotateY(0deg);
            opacity:0; 
        }
    
        66% {
            opacity:0; 
        }
        100% {
            transform: rotateY(360deg);
            opacity:1;
        }
    }
    
    @-webkit-keyframes anim {
        from {
            transform:rotateY(0deg);
            opacity:0; 
        }
    
        66% {
            opacity:0; 
        }
        100% {
            transform: rotateY(360deg);
            opacity:1;
        }
    }
   
    #team h1{
        font-size: 3rem;
    }

    .staff-block {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 4rem;
        margin: 0;
        overflow: hidden;
    }

    .card.meredith,
    .card.james,
    .card.jason,
    .card.ryan {
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center; 
        position: relative;
        z-index: 1;
    }
    
    .staff-block .card:hover::after {
    margin: 0 3.3rem;
    font-size: 2rem;
    padding-top: 7.5%;
    padding-bottom: 7%;
    width: 73.7%;
    border-radius: 0 0 30px 30px;
        -moz-animation: appear 1s ease-out 0s 1 normal none;
        -webkit-animation: appear 1s ease-out 0s 1 normal none;
        animation: appear 1s ease-out 0s 1 normal none;
    }

    @keyframes appear {
     from {
         opacity: 0;
        } to { 
            opacity: 1;
        }   
    }

    @-moz-keyframes appear {
        from {
        opacity: 0;
        } to 
        { 
        opacity: 1;
        }   
    }
       
    .staff-block .card.jason:hover::after{
        padding-top: 7.5%;
        padding-bottom: 7.5%;
    }
    
    .staff-block .card.james:hover::after{
        padding-top: 7.2%;
        padding-bottom: 7.2%;
    }

    .contact-block {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap:2rem;
        margin: 0;
        padding:0;    
    }

    .contact-block .message {
        order: 2;
        display:flex;
        flex-direction: column;
        align-items: center;
        width:fit-content;
        opacity: 0;
        transition: all 1s ease 1s;
        padding:0 1rem;
    }

    .contact-block .message h2{
        font-size: 3rem;
    }

    #contact:hover .message{
        opacity:1;
    }

    .contact-block .map {
        margin-top: 1rem;
        opacity:0;
        order: 1;
        transition: all 1s ease 1s;
    }

    #contact:hover .map{
        opacity:1;
    }

    .contact-block .message .form {
        max-width: 500px;
        margin:0;
    }

    .contact-block .message .form input[type="text"], 
    .contact-block .message .form input[type="email"] {
        font-size: 1rem;
    }

    .contact-block .message .form  input[type="text"]:not(#one){
        padding:0em 0em 50% 0.3em;
        width:100%;
    }
    
    .contact-block .message .form  input[type="text"]:not(#three),input[type="email"] {
       width:calc(100%/2 - 1.2em);
       box-sizing: border-box;
       padding:0.3em;
    }

    iframe {
        max-width: 100%;
        height: 400px;
    }

    .contact-block .footer {
        opacity:0;
        order: 3;
        transition: all 2s ease 2s;
        font-size: 1.5rem;
        gap: 1rem;
    }

    .contact-block .footer p, 
    .contact-block .footer ul,  
    .contact-block .footer h5 {
        font-size: 1.5rem;    
    }

    #contact:hover .footer{
        opacity:1;
    }
}

@media screen and (min-width:1200px) {

    .sticky .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        display: flex;
    }

    .sticky .nav .menu{
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;   
    }

    .sticky .nav .menu a{
        margin: auto 0;
    }

    .sticky .menu a:hover{
        background-color: transparent;
        color: var(--gray);
    }

    .sticky .hamburger{
        display: none;
    }
}

@media screen and (min-width:769px) and (max-width: 1620px){
   
    .client-block,
    .service-block,
    .staff-block,
    .contact-block {
        margin-left: 0;
        margin-right:0;
    }

    #gallery {
        height: max-content;
    }

    .client-block {
        display:flex;
        flex-flow:row wrap;
        justify-items:center;
        justify-content: center;
        padding:4em 0em;
        margin-top:-1rem;
        z-index: 1;
        height:max-content;
        gap: 1vw;
        margin: 0 auto; 
    }

   .client-block img {
    max-width:100%;
   }

    .client-block .boy.two {
        order:2;
    }

    .client-block .boy.one {
        order:1; 
    }

    .client-block #left {
        order:4;
    }

    .client-block #right {
        order:5;
    }

    .client-block .break {
        display: block;
        height:0;
        width: 100%;
        order:3;
    }
  
    .client-block  #left, #right {
        display:flex;
        flex-direction: row;
        gap: 1vw;
    }

    .client-block .boy.one{
        opacity:0;
        transition:all 1s linear;
        transition-delay: 0s;
        transform: translateX(-5vw);
    }

    #gallery:hover .boy.one {
        opacity:1;
        transform: translateX(0vw);
    }

    .client-block .boy.two{
        opacity:0;
        transition:all 1s linear;
        transition-delay: 0s;
        transform: translateX(-5vw);
    }
    
    #gallery:hover .boy.two {
        opacity:1;
        transform: translateX(0vw);
    }
    
    .client-block .man-in-hat {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 0.8s;
        transform: translateX(5vw); 
    }

    #gallery:hover .man-in-hat {
        opacity:1;
        transform: translateX(0vw);     
    }
    
    .client-block .guy {
        margin:auto 0;
        opacity:0;
        transition:all 1s linear;
        transition-delay: 0.8s;
        transform: translateX(5vw);  
    }

    #gallery:hover .guy {
        opacity:1;
        transform: translateX(0vw);
    }

    .client-block .man-smiles {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 1.6s;
        transform: translateX(-5vw); 
    }

    #gallery:hover .man-smiles {
        opacity:1;
        transform: translateX(0vw);   
    }
    
    .client-block .man-beard-cut {
        margin: auto 0;
        opacity:0;
        transition:all 1s linear;
        transition-delay: 1.6s;
        transform: translateX(-5vw);    
    }

    #gallery:hover .man-beard-cut {
        opacity:1;
        transform: translateX(0vw);     
    }

    #rigth, #left {
        margin:0;
    }

    #services {
        height: max-content;
    }

    .service-block {
        display:flex;
        flex-direction:column;
        align-items: center;
        align-content:center;
        box-sizing: content-box;
        height: max-content;
        overflow:hidden;
    }

    .service-block .scissors {
        display: none;
    }

    .services {
        margin:7em auto ;
    }

    #team {
        height: max-content;
    }

    .staff-block {
        flex-wrap:wrap;
        margin-bottom: 0;
        gap: 5%;
        height: max-content;
        padding-bottom: 1.5rem;
    }

    .staff-block .card{
        margin-bottom:4rem;  
    }

    .staff-block .break {
        display: block;
        height:0;
        width: 100%;
    }
    
    .contact-block  {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap:1rem;
        margin: 2rem auto;
        padding:0 2rem;
    }

    .contact-block .message {
        order: 1;
        opacity: 0;
        width:fit-content;
        text-align: center;
        transition: all 2s ease 1s;
        align-self: center;  
    }

    .contact-block .form {
        margin: 0 auto;
    } 

    #contact:hover .message{
        opacity:1;
    }

    .contact-block .map {
        opacity:0;
        order: 3;
        transition: all 2s ease 3s;
    }

    #contact:hover .map{
        opacity:1;
    }

    .contact-block .footer {
        opacity:0;
        order: 2;
        transition: all 2s ease 2s;
    }

    #contact:hover .footer{
        opacity:1;
    }
    .contact-block .footer p, .footer ul {
        font-size: 2rem;
        margin:1rem;
        padding:0;
    }

}

@media screen and (min-width:1621px){

    section:not(:nth-child(2)) {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content: flex-start;
    }

    .client-block,
    .staff-block,
    .contact-block{
        margin: auto;
    }

    .client-block {
        max-width: 1700px;
    }

}
